.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: fixed;
    background-color: rgb(250, 246, 246);
    box-shadow: -1px 6px 12px -4px rgba(122, 122, 122, 1);
    margin: 0 auto;
    z-index:99;
    padding: 0px 0px 0px 70px;
}

.header img {
    width: 10%;
    /* flex: 1; */
}

.header h2 {
    width: 70%;
    font-size: 30px;
    /* flex: 3; */
}

.dash {
    width: 20;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: rgb(13, 0, 128);
}

.dash img {
    height: 250px;
    border-radius: 50px;
    border: 6px solid #ffffff;
    /* margin-bottom: 40px; */
    margin: 130px 20px 30px 20px;
}

p,
a {
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    padding: 5px 30px;
    text-decoration: none;
    color: #fff;
    line-height: 45px;
}

a:hover {
    background-color: rgb(76, 78, 235);
}